.nav-tabs {
  border-bottom: 1px solid var(--base-border-color);

  li {
    a,
    &.active a {
      border: none;
      margin-right: 0;
      margin-bottom: 1px;
    }

    a:hover,
    &.active a,
    &.active a:hover {
      border: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      color: var(--text-color-selected);
      background-color: var(--background-color-highlight);
    }

    &.active a {
      background-color: var(--tab-background-color-active);
    }
  }
}
